services:
  postgres:
    image: postgres:14.19-alpine3.21
    container_name: postgres-streamora
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - project_net

volumes:
  postgres_data:

networks:
  project_net:
    driver: bridge